<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simplified VideoCalling Platform</title>
</head>

<body>
    <h2> We aim to provide simple video confrencing solution</h2>
    
   <a href="/call"> <button > </button></a>
</body>
</html>
<script>
    ///localStorage.setItem("lastname", "Smith");
</script>